# Jekyll build output
_site/

# Sass cache
.sass-cache/

# Jekyll cache
.jekyll-cache/

# Ruby bundler cache (if using bundler)
vendor/

# Misc editors / system files
.DS_Store
Thumbs.db

node_modules/


